@model List<Model.EF.Category>

<link href="~/Content/css/easy-responsive-tabs.css" rel="stylesheet" />
<script src="~/Content/js/easyResponsiveTabs.js"></script>
<link href="~/Content/css/menulogin.css" rel="stylesheet" />



    @foreach (var item in Model)
    {
        <h4 class="agileits-sear-head"><a href="@Url.Action("Index","CategoryNews", new {@ID=@item.ID })">@item.Name</a></h4>
    }


