@model DoAnRaoVat.Areas.Admin.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Login </title>

    <!-- Bootstrap CSS -->
    <link href="~/Areas/Admin/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/Areas/Admin/Content/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/Areas/Admin/Content/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/Areas/Admin/Content/css/style.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-img3-body">

    <div class="container">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class= "login-form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger"});
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    @Html.TextBoxFor(model=>model.UserName, new { @class= "form-control", @autofocus="autofocus", @placeholder="Tài khoản" })                   
                    @*<input type="text" class="form-control" placeholder="Username" autofocus>*@
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })                   
                    @*<input type="password" class="form-control" placeholder="Password">*@
                </div>
                <label class="checkbox">
                    @Html.CheckBoxFor(model => model.RemmemberMe) Remember Me
                    @*<input type="checkbox" value="remember-me"> Remember me*@
                </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Đăng nhập</button>
            </div>
        }
        

    </div>


</body>
</html>
